html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
}

canvas {
  border: 1px solid black;
  max-height: 100%;
  max-width: 100%;
}

.selection {
  background-color: rgba(40, 40, 231, 0.575);
  border: 1px solid #00f;
  cursor: move;
  position: absolute;
  /* box-sizing: border-box */
}