body {
  display: flex;
  font-family: sans-serif;
  margin: 0;
  padding: 2rem;
}

h2 {
  margin-block: 0 2rem;
}

form {
  padding-block: 1rem;
  min-width: 400px;
}

form > * + * {
  margin-top: 1rem;
}

.group {
  align-items: center;
  display: flex;
}

.group span {
  display: block;
  font-weight: bold;
  width: 60px;
}

input[type=number] {
  border: 1px solid;
  padding: 0.25rem;
}

button {
  cursor: pointer;
  padding: 0.3rem 1rem;
}

canvas {
  display: block;
  max-width: 1000px;
}

.editor {
  display: block;
  position: relative;
  justify-content: flex-start;
}

#crop-region {
  background-color: rgba(200,0,0,0.5);
  position: absolute;
}